h1{
  text-align: center;
}
h3{
  text-align: center;
}
table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 400px;
  height: 400px;
}
blockquote{
  text-align: center;
}
