.coverpage{
  width: 100%;
  height: 55em;
  text-align: center;
  float: left;
  padding-top: 5em;
  padding-bottom: 2em;
  display: table;
}

*{
  box-sizing: border-box;
}
.contentpg{
  width: 100%;
  display: table;
  padding: 20px;
  height: 8em;
  float: left;
}
.toc_list{
  font-family: arial;
  font-size: 2em;
}
.toc_h1{
  font-size: 5em;
}
.authorname{
  color: #5B2C6F;
  font-style: italic;
}
.bookname{
  color: #212F3D;
}
h3{
  text-align: center;
}
h4{
  text-align: right;
}
p{
  font-size: 1.2em;
}
*{
  background-color: #E8F8F5;
}
