div{
  font-size: 3em;
}
.h11{
  color: red;
  background-color: blue;
  border-style: dotted;
  border-color: yellow;
  margin: 5px;
  padding: 10px;
}
.img1{
  border: 10px;
  border-bottom-color: black;
  border-bottom-style: dashed;
  border-radius: 5px;
  width: 600px;
  height: auto;
}
.img2{
  width: 50%;
  height: 50%;
  border: 10px;
  border-radius: 5px;
  border-bottom-style: dashed;
  border-bottom-color: black;
}
.textk{
  align-content: center;
  background-color: aqua;
  margin: 10px;
  padding: 10px;
}
.text1{
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}
.textind{
  text-indent: 50px;
}
.spcing{
  letter-spacing: -0.25em;
  word-spacing: 50px;
}
.cptl{
  text-transform: capitalize;
}
.upper{
  text-transform: uppercase;
}
.lower{
  text-transform: lowercase;
}
.lineheight{
  line-height: 10px;
}
.txtshad{
  text-shadow: 1px 1px 2px black, 0 0 1em red;
   color: indigo;
}
