.comlab{
  width: 100%;
  background-color: red;
  color: white;
  height: 100px;
  padding-top: 1em;
  text-align: center;
  font-family: arial;
}
.bdy{
  width: 100%;
  height: 32em;
}
.slbs{
  color: white;
  background-color: grey;
  font-family: arial;
  width: 15%;
  height: 30em;
  padding: 1em;
  float: left;
}
.abt{
  padding: 1em;
  float: right;
  width: 78%;
  margin-left: 2%;
  height: 30em;
}
.endd{
  width: 100%;
  background-color: pink;
  height: 100px;
  padding-top: 1em;
  text-align: center;
  font-family: arial;
  clear: both;

}
.white{
  color: white;
}
