.bgm{
  display: flex;
  flex-direction: column;
  border: solid 7px tan;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 5px;
}
.ms1{
  display: flex;
  flex-direction: row;
  border: solid 7px lightblue;
  margin: 1em;
  border-radius: 5px;
}
.ms2{
    display: flex;
    flex-direction: row-reverse;
    border: solid 7px lightblue;
    margin: 1em;
    border-radius: 5px;
}
*{
  font-family: Arial
}
.ar{
  margin: 1em;
}
