
.blackbg{
  background-color: black;
}
h1{
  color: white;
  padding: 1%;
}
h2{
  color: white;
  padding: 1%;
}
p{
  color: white;
  padding: 1%;
}
.r1{
  margin-right: 0.33em;
  float: left;
    width: 33%;
    height: 200;
    background-color: green;
}
.r2{
  float: left;
    width: 33%;
    height: 200;
    background-color: grey;
}
.r3{
  margin-left: 0.33em;
  float: left;
    width: 33%;
    height: 200;
    background-color: green;
}
