.form{
    border: pink solid 2px;
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-left: 30%;
    background-color: lightblue;
    padding-left: 1em;
    height: 20em;
    justify-content: space-around;
}
.reg{
  text-align: center;
}
.submit{
  font-size: 20px;
  margin-left: 30%;
  width: 40%;
  background: yellow;

}
*{
  box-sizing: border-box;

}
.inputs{
  width: 100%;
}
body{
      background-image: url(108965-beige-mosaic-tile.jpg);
      background-color: tan;
      -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
