.g1{
  width: 30%;
  display: table;
  float: left;

}
.g2{
  width: 70%;
  display: table;
  float: left;

}
*{
  box-sizing: border-box;
}
.mar{
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.margin{
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
.margin3{
  margin-top: 0.1em;
}
.margin4{
  margin-top: 0.55em;
}
.field{
  width: 40%;
}
