.bgclr{
  background-color: #4f525f;
}
.Div1{
  color: white;
  font-family: arial;
  height: 200px;
}
.prodname{
  padding: 2em;
  float: left;
  width: 40%;
}
.whitesqr{
  margin-top: 2em;
  background-color: white;
  float: right;
  margin-right: 10em;
  width: 430px;
  height: 200px;
  color: white;
}
.Div2{
  color:#4f525f;
  font-family: arial;
  width: 100%;
  background-color: white;
  height: 400px;
}
.p{
  width: 40%;
  float: left;
  padding: 1em;
}
.greysqr{

  width: 400px;
  background-color: #4f525f;
  height: 200px;
  margin-right: 10em;

  float: right;
}
.alignin{
  width: 40%;
  margin-right: 50%;
  padding-left: 1em;
  float: left;
}
.Contacts{
  color: white;
  font-family: arial;
}
.conth1{
  text-align: center;
}
.Div3{
  height: 400px;
}
.outboxes{
  margin-left: 25em;
  float: left;
}
.name{
height: 40px;
width: 450px;
padding: 3px;
}
.email{
  height: 40px;
  width: 450px;
  padding: 3px;
}
.texting{
  width: 450px;
  padding: 3px;
}
.submit{
  width: 100px;
  margin-left: 180px;
}
.pics{
  float: left;
  margin-left: 2em;
  color: white;
  font-family: arial;
}
